{% load static %}
{# params: selection_forms #}

<div id="forms">
    <div class="d-flex align-items-center form-section-tile">
        <h5 class="white-title">Features</h5>
    </div>
    {% for forms in selection_forms %}
        {% if forloop.counter > 1 %}
            <div class="d-flex align-items-center form-section-tile">
                <h5 class="white-title">Plots</h5>
            </div>
        {% endif %}
        {% for form in forms %} {% for field in form %}
        <div class="form-group mb-2">
            {% if field.name == 'selected' %}
                <label class="form-check-label"> {{ field }} <b> {{ field.label }} </b></label>
            {% else %}
            <div class="ms-4">
                <label class="form-check-label"> {{ field.label }} {{ field }} </label>
            </div>
            {% endif %}
        </div>
        {% endfor %} {% endfor %}
    {% endfor %}
    <div
        class="position-sticky bg-white"
        style="bottom: 0; padding: 1rem 1rem 1rem 0"
        >
        <button type="submit" name ="calculate" class="btn btn-purple">Calculate</button>
    </div>
</div>