{# params: config_form #}

{% for field in config_form %}
    <div class="form-group mb-2">
        <label for="{{ field.id_for_label }}"> {{ field.label }} </label>
        {{ field }}
    </div>
{% endfor %}
<div class="flex-between">
    <button type="submit" name="load" class="btn btn-purple">Load</button>
    <!-- TODO Only show if config_form is submitted -->
    <div style="display: inline-flex">
        <button type="button" class="btn btn-grey js-toggle-checkboxes me-1" data-checked="true">
            Select all
        </button>
        <button type="button" class="btn btn-grey js-toggle-checkboxes" data-checked="false">
            Unselect all
        </button>
    </div>
</div>