{% extends "base.html" %} {% load static %} {% block content %}
<div class="container py-4">
  <form method="post" class="row g-4">
    {% csrf_token %}

    <!-- FORMS -->
    <div class="col-md-3">
      <h5>Welcome to PEPSI Dashboard!</h5>
      <!-- General info -->
      {% for field in general_form %}
      <div class="form-group mb-2">
        <label for="{{ field.id_for_label }}"> {{ field.label }} </label>
        {{ field }}
      </div>
      {% endfor %}
      <h5>Select peptide features</h5>
      <!-- Feature selection -->
      {% for field in peptide_form %}
      <div class="form-group mb-2">
        {% if field.field.widget.input_type == "checkbox" %} {{ field }}
        <label class="form-check-label" for="{{ field.id_for_label }}">
          <b>{{ field.label }}</b>
        </label>
        {% else %}
        <div class="ms-4">
          <label for="{{ field.id_for_label }}">
          {{ field.label }}
        </label>
        {{ field }}
        </div>
        {% endif %}
      </div>
      {% endfor %}

      <button type="submit" class="btn btn-primary">Calculate</button>
    </div>

    <!-- DIVIDER -->
    <div class="col-md-1 d-flex justify-content-center">
      <div style="border-left: 1px solid #ccc; height: 100%"></div>
    </div>

    <!-- RESULTS -->
    <div class="col-md-8">
      <h5>Results for peptide of interest: {{ peptide_of_interest }}</h5>
      <table class="table mb-3 w-auto">
        <tbody>
          {% for label, value in peptide_results.items %}
          <tr>
            <th scope="row">{{ label }}</th>
            <td>{{ value }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if peptide_plots %} {% for plot in peptide_plots %}
      <div class="mb-3">{{ plot|safe }}</div>
      {% endfor %} {% endif %}
    </div>
  </form>
</div>
{% endblock %}
