{% extends "base.html" %}
{% load static %}
{% block js %}
  <script type="text/javascript" src="{% static 'js/plotly-3.0.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/overview.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container-fluid my-5 px-5">
  <form method="post" class="row">
    {% csrf_token %}

    <!-- SIDEBAR CONTAINING FORMS -->
    <div class="col-md-3 border-end pe-4">
      <h5><b>Welcome to PEPSI Dashboard!</b></h5>
      <!-- General info -->
      {% for field in gen_form %}
      <div class="form-group mb-2">
        <label for="{{ field.id_for_label }}"> {{ field.label }} </label>
        {{ field }}
      </div>
      {% endfor %}
      <button type="button" id="btn-aspects" class="btn btn-purple">Load</button>

      <!-- Feature selection -->
      <div id="forms">
        <div class="flex-between">
          <span><b>Feature selection</b></span>
          <div style="display: inline-flex">
            <button type="button" class="btn btn-grey js-toggle-checkboxes me-1" data-checked="true">
              Select all
            </button>
            <button type="button" class="btn btn-grey js-toggle-checkboxes" data-checked="false">
              Unselect all
            </button>
          </div>
        </div>
      {% for forms in forms_list %} {% for form in forms %} {% for field in form %}
      <div class="form-group mb-2">
        {% if field.name == 'selected' %}
        <label class="form-check-label">
          {{ field }}
          <b>{{ field.label }}</b>
        </label>
        {% else %}
        <div class="ms-4">
          <label class="form-check-label">
            {{ field.label }} {{ field }}
          </label>
        </div>
        {% endif %}
      </div>
      {% endfor %} {% endfor %} {% endfor %}
      <div
        class="position-sticky bg-white"
        style="bottom: 0; padding: 1rem 1rem 1rem 0"
      >
        <button type="submit" class="btn btn-purple">Calculate</button>
        </div>
      </div>
    </div>

    <!-- RESULTS -->
    <div class="col-md-9 ps-4">
      <!-- PEPTIDES -->
      {% if gen_form.is_bound %}
        {% if seq %}
        <div class="row mb-3">
          <div class="col">
            <h5 class="title-with-icon">
              <img src="{% static 'img/bookmark.svg' %}" class="me-1" width="18" height="18">
              <b>Results for Peptide of Interest</b>
            </h5>
            <table class="table w-auto">
              <tbody>
                {% for label, value in computed_peptide_features.items %}
                <tr>
                  <th scope="row">{{ label }}</th>
                  <td>{{ value }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="col">
            <div class="d-flex align-items-center justify-content-end gap-2">
              <a class="btn btn-purple d-inline-flex align-items-center" href="{% url 'download_data' %}?filename=features">
                <img src="{% static 'img/download.svg' %}" class="me-1" width="14" height="14">
                Download results
              </a>
              <a class="btn btn-purple d-inline-flex align-items-center" href="{% url 'download_plots'%}">
                <img src="{% static 'img/download.svg' %}" class="me-1" width="14" height="14">
                Download plots
              </a>
            </div>
            <div>
              <div class="d-flex align-items-center justify-content-end mt-3">
                {% if num_matches < 1 %}
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#F1A765" class="bi bi-exclamation-triangle-fill me-1" viewBox="0 0 16 16">
                  <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                </svg>
                {% endif %}
                <span>This peptide has {{ num_matches }} entries in the selected dataset.</span>
              </div>
              {% if num_matches < 1 %}
                <div class="d-flex justify-content-end">
                  <a class="btn btn-grey d-inline-flex align-items-center" href="{% url 'download_data' %}?filename=peptide_features">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="black" class="bi bi-download me-1" viewBox="0 0 16 16">
                      <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                      <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
                    </svg>
                    Download peptide results only
                  </a>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="row row-cols-2">
          {% for plot in peptide_plots %}
            <div class="col">
              {{ plot|safe }}
            </div>
          {% endfor %}
        </div>
        {% else %}
        <div class="mb-3">
          No peptide of interest selected.
        </div>
        {% endif %}
        <!-- DATASET -->
        <h5 class="title-with-icon">
          <img src="{% static 'img/bookmark.svg' %}" class="me-1" width="18" height="18">
          <b>Results for Selected Dataset</b>
        </h5>
        <div class="row row-cols-2">
          {% for plot in data_plots %}
            <div class="col">
              {{ plot|safe }}
            </div>
          {% endfor %}
        </div>

      {% else %}
      <!-- NO RESULTS SHOWN -->
      <h5 class="title-with-icon">
        <img src="{% static 'img/search.svg' %}" class="me-3" width="20" height="20">
        No results available yet.
      </h5>
      {% endif %}
    </div>
  </form>
</div>
{% endblock %}
