{% extends "base.html" %}
{% load static %}
{% block js %}
  <script type="text/javascript" src="{% static 'js/plotly-3.0.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/overview.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container-fluid my-5 px-5">
  <form method="post" class="row">
    {% csrf_token %}

    <!-- SIDEBAR CONTAINING FORMS -->
    <div class="col-md-3 border-end pe-4">
      <h5><b>Welcome to PEPSI Dashboard!</b></h5>
      <!-- General info -->
      {% for field in gen_form %}
      <div class="form-group mb-2">
        <label for="{{ field.id_for_label }}"> {{ field.label }} </label>
        {{ field }}
      </div>
      {% endfor %}
      <h5>Select peptide features</h5>
      <button
        type="button"
        class="btn btn-grey js-toggle-checkboxes"
        data-checked="true"
      >
        Select all
      </button>
      <button
        type="button"
        class="btn btn-grey js-toggle-checkboxes"
        data-checked="false"
      >
        Unselect all
      </button>
      <!-- Feature selection -->
      {% for forms in forms_list %} {% for form in forms %} {% for field in form %}
      <div class="form-group mb-2">
        {% if field.name == 'select' %}
        <label class="form-check-label">
          {{ field }}
          <b>{{ field.label }}</b>
        </label>
        {% else %}
        <div class="ms-4">
          <label class="form-check-label">
            {{ field.label }} {{ field }}
          </label>
        </div>
        {% endif %}
      </div>
      {% endfor %} {% endfor %} {% endfor %}
      <div
        class="position-sticky bg-white"
        style="bottom: 0; padding: 1rem 1rem 1rem 0"
      >
        <button type="submit" class="btn btn-purple">Calculate</button>
      </div>
    </div>

    <!-- RESULTS -->
    <div class="col-md-9 ps-4">
      <!-- PEPTIDES -->
      {% if gen_form.is_bound %}
        {% if seq %}
        <h5 class="title-with-icon">
          <img src="{% static 'img/bookmark.svg' %}" class="me-1" width="18" height="18">
          <b>Results for Peptide of Interest</b>
        </h5>
        <div class="row mb-3">
          <div class="col">
            <table class="table w-auto">
              <tbody>
                {% for label, value in computed_peptide_features.items %}
                <tr>
                  <th scope="row">{{ label }}</th>
                  <td>{{ value }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="col mt-2">
            This peptide has {{ num_matches }} entries in selected dataset.
          </div>
        </div>
        <div class="row row-cols-2">
          {% for plot in peptide_plots %}
            <div class="col">
              {{ plot|safe }}
            </div>
          {% endfor %}
        </div>
        {% else %}
        No peptide of interest selected.
        {% endif %}
        <!-- DATASET -->
        <h5 class="title-with-icon">
          <img src="{% static 'img/bookmark.svg' %}" class="me-1" width="18" height="18">
          <b>Results for Selected Dataset</b>
        </h5>
        <div class="row row-cols-2">
          {% for plot in data_plots %}
            <div class="col">
              {{ plot|safe }}
            </div>
          {% endfor %}
        </div>

      {% else %}
      <!-- NO RESULTS SHOWN -->
      <h5 class="title-with-icon">
        <img src="{% static 'img/search.svg' %}" class="me-3" width="20" height="20">
        No results available yet.
      </h5>
      {% endif %}
    </div>
  </form>
</div>
{% endblock %}
