{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block js %}
    <script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    {% endblock %}

    {% block meta %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- <link rel="icon" type="image/svg+xml" href="..."> -->
        <link rel="canonical" href="{{ request.build_absolute_uri }}">
        <meta name="keywords" content="proteomics, peptidomics, peptides, chemical properties, physical properties, mass spectrometry, visualization, analysis" data-rh="true">
		<meta property="og:title" content="PepMEASURE">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://pepmeasure.org/">
        <meta property="og:site_name" content="PepMEASURE">
    {% endblock %}

    {% block title %}
        <title>PepMEASURE</title>
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
