{% load static %}
<nav class="navbar bg-primary sticky-top">
  <div class="container-fluid position-relative d-flex align-items-center">
    <a class="navbar-brand position-absolute top-50 start-50 translate-middle text-white" href="/">
      <b>PEPSI Dashboard</b>
    </a>
    <div class="ms-auto">
      <a class="nav-link text-white p-0" href="https://github.com/ronjakrg/pepsipy/">
        <img src="{% static 'img/github.svg' %}" alt="GitHub" width="30" height="30" class="d-inline-block align-text-top">
      </a>
    </div>
  </div>
</nav>
